<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">角色编辑</h1>
        </div>

        <!-- add form -->
        <form action="__ACTION__" method="post" id="tab" enctype="multipart/form-data">
            <ul class="nav nav-tabs">
             <input type="hidden" name="id" value="{$role.role_id}">
                <input type="text" name="role_name" id="" value="{$role.role_name}"><br>
                <button class="btn btn-primary" type="submit">保存</button>
            </div>
        </form>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
    <script type="text/javascript">
     
    </script>
